<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <!-- 激光雷达 -->
  <xacro:macro name="laser" params="tf_prefix=''">
    <link name="${tf_prefix}laser_link"/>
    <joint name="${tf_prefix}base_to_laser" type="fixed">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <parent link="${tf_prefix}base_link"/>
      <child link="${tf_prefix}laser_link"/>
    </joint>
  </xacro:macro>

  <!-- IMU (在旋转中心) -->
  <xacro:macro name="imu" params="tf_prefix=''">
    <link name="${tf_prefix}imu_link"/>
    <joint name="${tf_prefix}base_to_imu" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${tf_prefix}base_link"/>
      <child link="${tf_prefix}imu_link"/>
    </joint>
  </xacro:macro>

</robot>
